@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --accent-text: #050c42;
  --ghost-text: #6a6e71;
  --light-grey-text: #d0d8df;
  --accent-background: #ec805b;
  --light-background: #f7f8fa;
  --dark-background: #ecf0f3;
  --line: #d8e0e6;
  --basic-white: #ffffff;
  --rating: #6cdc9d;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
}
